<div class="about-main">
  <h2>UserVoice</h2>
  <p>
  「UserVoice」は、ノベルティの投稿サイトです。
  </p>
  <p>
   ノベルティは「おまけ」だけど、気に入ってずっと愛用しているアイテムってありませんか？
  </p>
  <p>
   お客様の声を聞いて、もっと良い商品を提供したいので、「UserVice」というサイトを作りました。
  </p>
  <p>
   まずは新規会員登録をして、投稿アイテムを見てみよう！
  </p>
</div>