<header>
  <div class="header-logo">
    <a href="/">UserVice</a>
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">UserViceとは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>UserVoiceとは</h2>
  <p>
   ノベルティの口コミサービスです。
   お気に入りの商品やアイディアを投稿して、他のユーザーと楽しくコミュニケーションできます。
  </p>
 <!--トップの背景画-->
  <img class="about-img" src="/post.png">
</div>